#my-div {
    
    width: 1300x;
    height: 1300px;
    z-index: -1;
}
a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

#boxy {
    display: inline-block;
    height: 100%;
    width: 100%;
    text-decoration: none;
     z-index: -1;
}

.canvas {
    display: inline-block;
    height: 100%;
    width: 100%;
    text-decoration: none;
     z-index: 10;
}